/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    margin: 95px 50px 92px;
}

.header__menu {
    display: flex;
    width: 32%;
    align-items: center;
}

.header__links-list {
    display: flex;
    text-align: start;
    justify-content: center;
}

.header__links-list-item {
    font-size: 18px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    padding-right: 32px;
    line-height: 1.35;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: flex;
    width: 34%;
    justify-content: left;
}

.header__logo-image {
    margin-left: 65px;
    width: 138px;
}

.address {
    font-size: 18px;
    line-height: 1.35;
    width: 240px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.header__address {
    font-style: normal;
    font-weight: 400;
}

/* Main section */
.main {
    display: flex;
    flex-direction: column;
}

/* Enterence section */
.cover {
    position: relative;
    width: 1440px;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position-y: 44%;
    z-index: 0;
    margin-bottom: 182px;
}

.overlay {
    position: absolute;
    width: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.cover__title {
    font-size: 100px;
    font-style: normal;
    letter-spacing: 30px;
    font-weight: 700;
    line-height: 123px;
    text-transform: uppercase;
    color: #FFF;
    width: 1340px;
    margin: 165px 50px 120px;
    display: flex;
    flex-direction: column;
}

.aligned-text {
    display: flex;
}

.aligned-text__center {
    width: 100%;
    justify-content: center;
}

.aligned-text__right {
    width: 100%;
    justify-content: right;

}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
    padding-right: 50px;
    justify-content: right;
    inset: 655px 421px;
    width: 100%;
    display: flex;
    gap: 82px;
}

.cover__description-text {
    font-size: 22px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.27;
    word-spacing: 17px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.bet-button {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #FFF;
    min-width: 257px;
    min-height: 52px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding-top: 10px;
}

/* Lots section */
.lots {
    margin-bottom: 167px;
}

.lots__heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 25px;
    padding-left: 90px;
}

.lots__card-list {
    margin: 0 45px 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
    justify-items: center;
}

.lots__card-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-link {
    font-style: normal;
    line-height: 1.2;
    color: #FFF;
}

.card {
    position: relative;
    background-size: cover;
    z-index: 0;
    width: 430px;
    min-height: 450px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 1px;
    padding: 50px 40px 0;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 49px;
    padding:  0 40px;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: #000;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 90px;
}

/* About auction section */
.about {
    margin: 0 50px 175px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.about__column {
    grid-column-start: 2;
    grid-column-end: 5;
}

.about__logo {
    display: flex;
    margin-top: 12px;
    margin-left: 92px;
    width: 245px;
    height: 245px;
    border: black 1px solid;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    margin: auto;
    width: 60%;
}

.about__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
    display: flex;
    justify-content: start;
    margin: 116px 0 70px 8px;
}

.about__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    color: #000;
    padding-top: 30px;
    padding-left: 9px;
}

/* Footer section */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 0 50px;
    padding-top: 3px;
}

.footer__menu {
    margin-top: 7px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
}

.footer__menu-list-item {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-align: center;
    list-style: none;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 1px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: right;
    gap: 50px;
    margin-top: 5px;
}

.footer__social-list-item {
    list-style: none;
    width: 48px;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    padding-top: 20px;
}